<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %> | Memo App</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="container">
    <header>
      <h1><a href="/" class="page-header">Sinatra Memo App</a></h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </div>
</body>
</html>
