<h2 class="page-title">Create new memo</h2>
<div class="main-items">
  <form action="/memos" method="post">
    <div class="form-items">
      <div class="form-items__item">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
      </div>
      <div class="form-items__item">
        <label for="content">Content</label>
        <textarea name="content" id="content" rows="5"></textarea>
      </div>
      <div class="btn-wrapper button-in-middle">
        <button type="submit" class="btn">Submit</button>
      </div>
    </div>
  </form>
</div>
