<h2 class="page-title"><%= h memo[:title] %></h2>
<div class="main-items">
  <div class="memo-content">
    <p><%= h memo[:content] %></p>
  </div>
  <div class="btn-wrapper button-in-middle">
    <a href="/memos/<%= memo[:id] %>/edit"><button type="button" class="btn">Edit</button></a>
    <form action="/memos/<%= memo[:id] %>" method="post" class="delete-form">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn">delete</button>
    </form>
  </div>
</div>
